DirectoryIndex index.php index.html

# Set default charset
AddDefaultCharset UTF-8

# Security & CORS Headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
